
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --content-background-color: rgb(221, 221, 221);
    --sidebar-background-color: rgb(204, 204, 204);
    --navbar-background-color: rgb(131, 131, 131);
    --text-color: black;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-container {
    flex: 1;
    display: flex;
}

.sidebar-container {
    background-color: var(--sidebar-background-color);
    width: 220px;
}

.content-container {
    background-color: var(--content-background-color);
    flex: 1;
    display: flex;
    justify-content: center;
}

.content {
    /* border: 1px solid red; */
    width: clamp(300px, 90%, 992px);
    margin-top: 16px;
    margin-bottom: 16px;
}

.navbar-container {
    height: 64px;
    background-color: var(--navbar-background-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.hamburger-menu {
    display: none;
}

.tasklist {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    gap: 16px;
    background-color: rgb(233, 233, 233);
}

.label-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.colour-mark {
    width: 8px;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.item-title {
    width: clamp(100px, 100%, 100%);
    height: 100%;
    display: flex;
    align-items: center;

    /* Truncate text */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type=text]:not(.browser-default) {
    width: 100px;
}

.item-delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-priority {
    width: 150px;
    background-color: grey;
}

.item-priority:hover {
    width: 150px;
    background-color: rgb(102, 102, 102);
}

.addtask-container {
    display: flex;
    justify-content: center;
}

.dropdown-content {
    color: gray;
}

/*************************** TABLET ***************************/

@media screen and (max-width: 992px) {



}


/*************************** MOBILE ***************************/

@media screen and (max-width: 600px) {
    
    .navbar-container {
        height: 100px;
    }

    .page-container {
        flex-direction: column;
    }

    .sidebar-container {
        display: none;
        flex: 1;        
        width: 100%;
    }

    .content-container {
        flex: 2;
    }

    .hamburger-menu {
        display: block;
    }

}